.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.navBar {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px 150px;
}
.columns__cu3Kp {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__cu3Kp > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 2 / 12);
}
.columns__cu3Kp > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 8 / 12);
}
.columns__cu3Kp > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cu3Kp {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cu3Kp > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__wfVtd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__wZuzh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 25px;
  margin-left: 0px;
  min-width: 0;
  display: none;
}
.img__xMmrr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__xMmrr > picture > img {
  object-fit: cover;
}
.img__xMmrr > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__mAFcV {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__mAFcV {
    display: none;
  }
}
.column__lDxzh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__lDxzh {
    display: none;
  }
}
.intro {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 30px;
  min-width: 0;
  padding: 0em;
}
.intro > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.intro > :global(.__wab_flex-container) > *,
.intro > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.intro > :global(.__wab_flex-container) > picture > img,
.intro > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .intro {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
.freeBox___5RmEx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 800px;
  height: auto;
  max-width: 100%;
  padding: 8px 8px 8px 0px;
}
.text__nSRrk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 50px;
  }
}
.text__hsfmj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 600;
  margin-bottom: 20px;
  min-width: 0;
}
.h2 {
  font-size: 25px;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2 {
    font-size: 20px;
  }
}
.freeBox__l9AnT {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 550px;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  padding: 8px;
}
.columns__wGJoh {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #fafafa;
  margin-top: 0px;
  min-width: 0;
  border-radius: 10px;
  padding: 8px 8px 8px 0px;
}
.columns__wGJoh > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 2 / 12);
}
.columns__wGJoh > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wGJoh {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wGJoh > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wGJoh > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 9 / 12);
  }
}
.column___9XW57 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__xBs3Y {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 50px;
}
.img__xBs3Y > picture > img {
  object-fit: cover;
}
.img__xBs3Y > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__fxqdv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.text__taMth {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__taMth {
    font-size: 14px;
  }
}
.freeBox__dhkx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 800px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.htmlVideo:global(.__wab_instance) {
  width: 640px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: none;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 800px;
  display: none;
  border-radius: 10px;
}
.img__ohqCy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 784px;
  height: 441px;
  flex-shrink: 0;
}
.img__ohqCy > picture > img {
  object-fit: cover;
}
.img__ohqCy > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ohqCy {
    width: auto;
    height: 100%;
    min-height: 0;
  }
}
